<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pugutang.spring.boot.dao.newDao.PgtOutboundNoticeDetailMapper">
  <resultMap id="BaseResultMap" type="com.pugutang.spring.boot.entity.PgtOutboundNoticeDetail">
    <id column="outbound_notice_detail_id" jdbcType="BIGINT" property="outboundNoticeDetailId" />
    <result column="outbound_notice_code" jdbcType="VARCHAR" property="outboundNoticeCode" />
    <result column="purchase_code" jdbcType="VARCHAR" property="purchaseCode" />
    <result column="purchase_detail_id" jdbcType="BIGINT" property="purchaseDetailId" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="sku_encode" jdbcType="VARCHAR" property="skuEncode" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="pre_send_quantity" jdbcType="INTEGER" property="preSendQuantity" />
    <result column="send_quantity" jdbcType="INTEGER" property="sendQuantity" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateby" jdbcType="VARCHAR" property="updateby" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    outbound_notice_detail_id, outbound_notice_code, purchase_code, purchase_detail_id, 
    sku_id, sku_name, sku_encode, spec, pre_send_quantity, send_quantity, status, createby, 
    create_time, updateby, update_time
  </sql>
  <select id="selectByExample" parameterType="com.pugutang.spring.boot.entity.PgtOutboundNoticeDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from pgt_outbound_notice_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pgt_outbound_notice_detail
    where outbound_notice_detail_id = #{outboundNoticeDetailId,jdbcType=BIGINT}
  </select>
   <select id="findByPurchaseCode" parameterType="string" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pgt_outbound_notice_detail
    where purchase_code = #{purchaseCode}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pgt_outbound_notice_detail
    where outbound_notice_detail_id = #{outboundNoticeDetailId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pugutang.spring.boot.entity.PgtOutboundNoticeDetailExample">
    delete from pgt_outbound_notice_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pugutang.spring.boot.entity.PgtOutboundNoticeDetail">
    insert into pgt_outbound_notice_detail (outbound_notice_detail_id, outbound_notice_code, 
      purchase_code, purchase_detail_id, sku_id, 
      sku_name, sku_encode, spec, 
      pre_send_quantity, send_quantity, status, 
      createby, create_time, updateby, 
      update_time)
    values (#{outboundNoticeDetailId,jdbcType=BIGINT}, #{outboundNoticeCode,jdbcType=VARCHAR}, 
      #{purchaseCode,jdbcType=VARCHAR}, #{purchaseDetailId,jdbcType=BIGINT}, #{skuId,jdbcType=INTEGER}, 
      #{skuName,jdbcType=VARCHAR}, #{skuEncode,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, 
      #{preSendQuantity,jdbcType=INTEGER}, #{sendQuantity,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{createby,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pugutang.spring.boot.entity.PgtOutboundNoticeDetail">
    insert into pgt_outbound_notice_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="outboundNoticeDetailId != null">
        outbound_notice_detail_id,
      </if>
      <if test="outboundNoticeCode != null">
        outbound_notice_code,
      </if>
      <if test="purchaseCode != null">
        purchase_code,
      </if>
      <if test="purchaseDetailId != null">
        purchase_detail_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="skuEncode != null">
        sku_encode,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="preSendQuantity != null">
        pre_send_quantity,
      </if>
      <if test="sendQuantity != null">
        send_quantity,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createby != null">
        createby,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateby != null">
        updateby,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="outboundNoticeDetailId != null">
        #{outboundNoticeDetailId,jdbcType=BIGINT},
      </if>
      <if test="outboundNoticeCode != null">
        #{outboundNoticeCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseCode != null">
        #{purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDetailId != null">
        #{purchaseDetailId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuEncode != null">
        #{skuEncode,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="preSendQuantity != null">
        #{preSendQuantity,jdbcType=INTEGER},
      </if>
      <if test="sendQuantity != null">
        #{sendQuantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pugutang.spring.boot.entity.PgtOutboundNoticeDetailExample" resultType="java.lang.Long">
    select count(*) from pgt_outbound_notice_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pgt_outbound_notice_detail
    <set>
      <if test="record.outboundNoticeDetailId != null">
        outbound_notice_detail_id = #{record.outboundNoticeDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.outboundNoticeCode != null">
        outbound_notice_code = #{record.outboundNoticeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseCode != null">
        purchase_code = #{record.purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseDetailId != null">
        purchase_detail_id = #{record.purchaseDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.skuId != null">
        sku_id = #{record.skuId,jdbcType=INTEGER},
      </if>
      <if test="record.skuName != null">
        sku_name = #{record.skuName,jdbcType=VARCHAR},
      </if>
      <if test="record.skuEncode != null">
        sku_encode = #{record.skuEncode,jdbcType=VARCHAR},
      </if>
      <if test="record.spec != null">
        spec = #{record.spec,jdbcType=VARCHAR},
      </if>
      <if test="record.preSendQuantity != null">
        pre_send_quantity = #{record.preSendQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.sendQuantity != null">
        send_quantity = #{record.sendQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createby != null">
        createby = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null">
        updateby = #{record.updateby,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pgt_outbound_notice_detail
    set outbound_notice_detail_id = #{record.outboundNoticeDetailId,jdbcType=BIGINT},
      outbound_notice_code = #{record.outboundNoticeCode,jdbcType=VARCHAR},
      purchase_code = #{record.purchaseCode,jdbcType=VARCHAR},
      purchase_detail_id = #{record.purchaseDetailId,jdbcType=BIGINT},
      sku_id = #{record.skuId,jdbcType=INTEGER},
      sku_name = #{record.skuName,jdbcType=VARCHAR},
      sku_encode = #{record.skuEncode,jdbcType=VARCHAR},
      spec = #{record.spec,jdbcType=VARCHAR},
      pre_send_quantity = #{record.preSendQuantity,jdbcType=INTEGER},
      send_quantity = #{record.sendQuantity,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      createby = #{record.createby,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      updateby = #{record.updateby,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pugutang.spring.boot.entity.PgtOutboundNoticeDetail">
    update pgt_outbound_notice_detail
    <set>
      <if test="outboundNoticeCode != null">
        outbound_notice_code = #{outboundNoticeCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseCode != null">
        purchase_code = #{purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDetailId != null">
        purchase_detail_id = #{purchaseDetailId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuEncode != null">
        sku_encode = #{skuEncode,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="preSendQuantity != null">
        pre_send_quantity = #{preSendQuantity,jdbcType=INTEGER},
      </if>
      <if test="sendQuantity != null">
        send_quantity = #{sendQuantity,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createby != null">
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        updateby = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where outbound_notice_detail_id = #{outboundNoticeDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pugutang.spring.boot.entity.PgtOutboundNoticeDetail">
    update pgt_outbound_notice_detail
    set outbound_notice_code = #{outboundNoticeCode,jdbcType=VARCHAR},
      purchase_code = #{purchaseCode,jdbcType=VARCHAR},
      purchase_detail_id = #{purchaseDetailId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=INTEGER},
      sku_name = #{skuName,jdbcType=VARCHAR},
      sku_encode = #{skuEncode,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      pre_send_quantity = #{preSendQuantity,jdbcType=INTEGER},
      send_quantity = #{sendQuantity,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      createby = #{createby,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updateby = #{updateby,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where outbound_notice_detail_id = #{outboundNoticeDetailId,jdbcType=BIGINT}
  </update>
</mapper>