<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pugutang.spring.boot.dao.newDao.PgtOrderMapper">
  <resultMap id="BaseResultMap" type="com.pugutang.spring.boot.entity.PgtOrder">
    <id column="pgt_order_id" jdbcType="INTEGER" property="pgt_order_id" />
    <result column="order_id" jdbcType="INTEGER" property="order_id" />
    <result column="order_sn" jdbcType="VARCHAR" property="order_sn" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="order_status" jdbcType="BIT" property="order_status" />
    <result column="shop_id" jdbcType="INTEGER" property="shop_id" />
    <result column="site_id" jdbcType="INTEGER" property="site_id" />
    <result column="store_id" jdbcType="INTEGER" property="store_id" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pgt_order_id, order_id, order_sn, user_id, order_status, shop_id, site_id, 
    store_id
  </sql>
  <select id="selectByExample" parameterType="com.pugutang.spring.boot.entity.PgtOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from pgt_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pgt_order
    where pgt_order_id = #{pgt_order_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pgt_order
    where pgt_order_id = #{pgt_order_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pugutang.spring.boot.entity.PgtOrderExample">
    delete from pgt_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pugutang.spring.boot.entity.PgtOrder">
    insert into pgt_order (pgt_order_id, order_id, order_sn, 
       user_id, order_status, 
      shop_id, site_id, store_id
      )
    values (#{pgt_order_id,jdbcType=INTEGER}, #{order_id,jdbcType=INTEGER}, #{order_sn,jdbcType=VARCHAR}, 
      #{user_id,jdbcType=INTEGER}, #{order_status,jdbcType=BIT}, 
      #{shop_id,jdbcType=INTEGER}, #{site_id,jdbcType=INTEGER}, #{store_id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pugutang.spring.boot.entity.PgtOrder">
    insert into pgt_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pgt_order_id != null">
        pgt_order_id,
      </if>
      <if test="order_id != null">
        order_id,
      </if>
      <if test="order_sn != null">
        order_sn,
      </if>

      <if test="user_id != null">
        user_id,
      </if>
      <if test="order_status != null">
        order_status,
      </if>
      <if test="shop_id != null">
        shop_id,
      </if>
      <if test="site_id != null">
        site_id,
      </if>
      <if test="store_id != null">
        store_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pgt_order_id != null">
        #{pgt_order_id,jdbcType=INTEGER},
      </if>
      <if test="order_id != null">
        #{order_id,jdbcType=INTEGER},
      </if>
      <if test="order_sn != null">
        #{order_sn,jdbcType=VARCHAR},
      </if>

      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="order_status != null">
        #{order_status,jdbcType=BIT},
      </if>
      <if test="shop_id != null">
        #{shop_id,jdbcType=INTEGER},
      </if>
      <if test="site_id != null">
        #{site_id,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        #{store_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pugutang.spring.boot.entity.PgtOrderExample" resultType="java.lang.Long">
    select count(*) from pgt_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pgt_order
    <set>
      <if test="record.pgt_order_id != null">
        pgt_order_id = #{record.pgt_order_id,jdbcType=INTEGER},
      </if>
      <if test="record.order_id != null">
        order_id = #{record.order_id,jdbcType=INTEGER},
      </if>
      <if test="record.order_sn != null">
        order_sn = #{record.order_sn,jdbcType=VARCHAR},
      </if>

      <if test="record.user_id != null">
        user_id = #{record.user_id,jdbcType=INTEGER},
      </if>
      <if test="record.order_status != null">
        order_status = #{record.order_status,jdbcType=BIT},
      </if>
      <if test="record.shop_id != null">
        shop_id = #{record.shop_id,jdbcType=INTEGER},
      </if>
      <if test="record.site_id != null">
        site_id = #{record.site_id,jdbcType=INTEGER},
      </if>
      <if test="record.store_id != null">
        store_id = #{record.store_id,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pgt_order
    set pgt_order_id = #{record.pgt_order_id,jdbcType=INTEGER},
      order_id = #{record.order_id,jdbcType=INTEGER},
      order_sn = #{record.order_sn,jdbcType=VARCHAR},
      user_id = #{record.user_id,jdbcType=INTEGER},
      order_status = #{record.order_status,jdbcType=BIT},
      shop_id = #{record.shop_id,jdbcType=INTEGER},
      site_id = #{record.site_id,jdbcType=INTEGER},
      store_id = #{record.store_id,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pugutang.spring.boot.entity.PgtOrder">
    update pgt_order
    <set>
      <if test="order_id != null">
        order_id = #{order_id,jdbcType=INTEGER},
      </if>
      <if test="order_sn != null">
        order_sn = #{order_sn,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="order_status != null">
        order_status = #{order_status,jdbcType=BIT},
      </if>
      <if test="shop_id != null">
        shop_id = #{shop_id,jdbcType=INTEGER},
      </if>
      <if test="site_id != null">
        site_id = #{site_id,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        store_id = #{store_id,jdbcType=INTEGER},
      </if>
    </set>
    where pgt_order_id = #{pgt_order_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pugutang.spring.boot.entity.PgtOrder">
    update pgt_order
    set order_id = #{order_id,jdbcType=INTEGER},
      order_sn = #{order_sn,jdbcType=VARCHAR},
      user_id = #{user_id,jdbcType=INTEGER},
      order_status = #{order_status,jdbcType=BIT},
      shop_id = #{shop_id,jdbcType=INTEGER},
      site_id = #{site_id,jdbcType=INTEGER},
      store_id = #{store_id,jdbcType=INTEGER}
    where pgt_order_id = #{pgt_order_id,jdbcType=INTEGER}
  </update>

  <select id="selectList" parameterType="com.pugutang.spring.boot.entity.PgtOrder" resultMap="BaseResultMap" >
      select * from pgt_order where order_id = #{order_id}
  </select>    
  
</mapper>