<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pugutang.spring.boot.dao.newDao.PgtInboundNoticeMapper">
  <resultMap id="BaseResultMap" type="com.pugutang.spring.boot.entity.PgtInboundNotice">
    <id column="inbound_notice_id" jdbcType="BIGINT" property="inboundNoticeId" />
    <result column="inbound_notice_code" jdbcType="VARCHAR" property="inboundNoticeCode" />
    <result column="bill_type" jdbcType="INTEGER" property="billType" />
    <result column="purchase_code" jdbcType="VARCHAR" property="purchaseCode" />
    <result column="purchase_detail_id" jdbcType="BIGINT" property="purchaseDetailId" />
    <result column="pre_arrival_time" jdbcType="TIMESTAMP" property="preArrivalTime" />
    <result column="arrival_time" jdbcType="TIMESTAMP" property="arrivalTime" />
    <result column="store_sn" jdbcType="VARCHAR" property="storeSn" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateby" jdbcType="VARCHAR" property="updateby" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    inbound_notice_id, inbound_notice_code, bill_type, purchase_code, purchase_detail_id, 
    pre_arrival_time, arrival_time, store_sn, store_name, status, createby, create_time, 
    updateby, update_time
  </sql>
  <select id="selectByExample" parameterType="com.pugutang.spring.boot.entity.PgtInboundNoticeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from pgt_inbound_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pgt_inbound_notice
    where inbound_notice_id = #{inboundNoticeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pgt_inbound_notice
    where inbound_notice_id = #{inboundNoticeId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pugutang.spring.boot.entity.PgtInboundNoticeExample">
    delete from pgt_inbound_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pugutang.spring.boot.entity.PgtInboundNotice">
    insert into pgt_inbound_notice (inbound_notice_id, inbound_notice_code, 
      bill_type, purchase_code, purchase_detail_id, 
      pre_arrival_time, arrival_time, store_sn, 
      store_name, status, createby, 
      create_time, updateby, update_time
      )
    values (#{inboundNoticeId,jdbcType=BIGINT}, #{inboundNoticeCode,jdbcType=VARCHAR}, 
      #{billType,jdbcType=INTEGER}, #{purchaseCode,jdbcType=VARCHAR}, #{purchaseDetailId,jdbcType=BIGINT}, 
      #{preArrivalTime,jdbcType=TIMESTAMP}, #{arrivalTime,jdbcType=TIMESTAMP}, #{storeSn,jdbcType=VARCHAR}, 
      #{storeName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createby,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pugutang.spring.boot.entity.PgtInboundNotice">
    insert into pgt_inbound_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inboundNoticeId != null">
        inbound_notice_id,
      </if>
      <if test="inboundNoticeCode != null">
        inbound_notice_code,
      </if>
      <if test="billType != null">
        bill_type,
      </if>
      <if test="purchaseCode != null">
        purchase_code,
      </if>
      <if test="purchaseDetailId != null">
        purchase_detail_id,
      </if>
      <if test="preArrivalTime != null">
        pre_arrival_time,
      </if>
      <if test="arrivalTime != null">
        arrival_time,
      </if>
      <if test="storeSn != null">
        store_sn,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createby != null">
        createby,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateby != null">
        updateby,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inboundNoticeId != null">
        #{inboundNoticeId,jdbcType=BIGINT},
      </if>
      <if test="inboundNoticeCode != null">
        #{inboundNoticeCode,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        #{billType,jdbcType=INTEGER},
      </if>
      <if test="purchaseCode != null">
        #{purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDetailId != null">
        #{purchaseDetailId,jdbcType=BIGINT},
      </if>
      <if test="preArrivalTime != null">
        #{preArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrivalTime != null">
        #{arrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeSn != null">
        #{storeSn,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pugutang.spring.boot.entity.PgtInboundNoticeExample" resultType="java.lang.Long">
    select count(*) from pgt_inbound_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pgt_inbound_notice
    <set>
      <if test="record.inboundNoticeId != null">
        inbound_notice_id = #{record.inboundNoticeId,jdbcType=BIGINT},
      </if>
      <if test="record.inboundNoticeCode != null">
        inbound_notice_code = #{record.inboundNoticeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.billType != null">
        bill_type = #{record.billType,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseCode != null">
        purchase_code = #{record.purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseDetailId != null">
        purchase_detail_id = #{record.purchaseDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.preArrivalTime != null">
        pre_arrival_time = #{record.preArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.arrivalTime != null">
        arrival_time = #{record.arrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.storeSn != null">
        store_sn = #{record.storeSn,jdbcType=VARCHAR},
      </if>
      <if test="record.storeName != null">
        store_name = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createby != null">
        createby = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null">
        updateby = #{record.updateby,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pgt_inbound_notice
    set inbound_notice_id = #{record.inboundNoticeId,jdbcType=BIGINT},
      inbound_notice_code = #{record.inboundNoticeCode,jdbcType=VARCHAR},
      bill_type = #{record.billType,jdbcType=INTEGER},
      purchase_code = #{record.purchaseCode,jdbcType=VARCHAR},
      purchase_detail_id = #{record.purchaseDetailId,jdbcType=BIGINT},
      pre_arrival_time = #{record.preArrivalTime,jdbcType=TIMESTAMP},
      arrival_time = #{record.arrivalTime,jdbcType=TIMESTAMP},
      store_sn = #{record.storeSn,jdbcType=VARCHAR},
      store_name = #{record.storeName,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      createby = #{record.createby,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      updateby = #{record.updateby,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pugutang.spring.boot.entity.PgtInboundNotice">
    update pgt_inbound_notice
    <set>
      <if test="inboundNoticeCode != null">
        inbound_notice_code = #{inboundNoticeCode,jdbcType=VARCHAR},
      </if>
      <if test="billType != null">
        bill_type = #{billType,jdbcType=INTEGER},
      </if>
      <if test="purchaseCode != null">
        purchase_code = #{purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDetailId != null">
        purchase_detail_id = #{purchaseDetailId,jdbcType=BIGINT},
      </if>
      <if test="preArrivalTime != null">
        pre_arrival_time = #{preArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrivalTime != null">
        arrival_time = #{arrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeSn != null">
        store_sn = #{storeSn,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createby != null">
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        updateby = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where inbound_notice_id = #{inboundNoticeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pugutang.spring.boot.entity.PgtInboundNotice">
    update pgt_inbound_notice
    set inbound_notice_code = #{inboundNoticeCode,jdbcType=VARCHAR},
      bill_type = #{billType,jdbcType=INTEGER},
      purchase_code = #{purchaseCode,jdbcType=VARCHAR},
      purchase_detail_id = #{purchaseDetailId,jdbcType=BIGINT},
      pre_arrival_time = #{preArrivalTime,jdbcType=TIMESTAMP},
      arrival_time = #{arrivalTime,jdbcType=TIMESTAMP},
      store_sn = #{storeSn,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      createby = #{createby,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updateby = #{updateby,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where inbound_notice_id = #{inboundNoticeId,jdbcType=BIGINT}
  </update>
  <update id="updateStatus" parameterType="com.pugutang.spring.boot.entity.PgtInboundNotice">
    update pgt_inbound_notice
    set 
      status = #{status},
      <!-- updateby = #{updateby,jdbcType=VARCHAR}, -->
      update_time = #{updateTime}
    where purchase_code = #{purchaseCode}
  </update>
</mapper>